html {
  /* go away */
  background: linear-gradient(23deg, white, violet, pink, white) fixed;
  height: 100%;
}

a {
  color: #fff;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
}

span {
  background-color: #333;
}

main {
  max-width: 500px;
  margin: 0 auto;
  font-size: 3em;
  color: #FFF;
  padding: 0 1em;

  text-align: justify;

  font-family: monospace;
  line-height: 1.5;
}
