/* Evil Google tracking via webfonts */
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Titillium+Web);

* {
    font-family: Titillium Web, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

h1 {
    font-family: Poiret One;
    font-weight: bold;
}

#wrapper {
    position: relative;
}

#name {
    font-family: Poiret One, sans-serif;
    font-size: 250px;
    width: 100%;
    text-align: center;
}

#links {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    display: inline;
    padding-bottom: 5px;
}

#links a {
    margin: 0 5px 0 5px;
    color: black;
    text-decoration: none;
}

#links a:hover {
    color: #333;
}

#content {
    width: 700px;
    margin: auto;
}

#content p {
    text-align: justify;
}

#content a {
    text-decoration: underline;
    color: #333;
}

#content a:hover {
    color: #000;
}