---
layout: base
title: Selected Projects
stylesheets:
- 'css/projects.css'
---

<h1>Selected Projects</h1>

<p>
  I've written tons of code in public over the years. Some projects were created
  to address niche issues I faced, others to learn new technologies, and some
  completely for the fun of it.
</p>

<p>
  Below is a selection of some of my more substantial work. For a full list,
  plus contributions to other open source projects, check out
  <a href="https://github.com/erik">my GitHub profile</a>.
</p>


{% assign grouped_projects = site.data.projects.projects | group_by: "group" %}

<div class="projects-wrapper">
  {% for group in site.data.projects.groups %}

  {% assign projects = site.data.projects.projects | where: "group", group.name %}
  {% assign sorted_projects = projects | sort: "year" | reverse %}

  <div class="project-section">
    <h2>{{ name | default: group.title }}</h2>
    {% for proj in sorted_projects %}
    <div class="project">
      <div class="project-title" id="{{ proj.name }}">
        <a href="https://github.com/erik/{{ proj.github }}">{{ proj.name }}</a>

        <div class="project-tags">
          {% for tag in proj.tags %}
          <span class="project-tag">{{ tag }}</span>
          {% endfor %}
          <span class="project-tag">{{ proj.year }}</span>
        </div>
      </div>
      <div class="project-description">
        {{ proj.description | markdownify }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
