<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/site.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/grid.css') }}">
    <title>Erik Price</title>
  </head>

  <body>
    <div id="wrapper">
      <div class="section group">
        <div class="col span_1_of_5"></div>
        <div class="col span_4_of_5">
          <h1>{% block title %}{% endblock %}</h1>
        </div>
      </div>

      <div class="section group">
        <div id="sidebar" class="col span_1_of_5">
          <!-- <h2 id="name">Erik Price</h2> -->
          <!-- <div id="motto"> -->
          <!--   {code,cycling,coffee} snob. -->
          <!-- </div> -->

          <div id="nav">
            <a href="/">About me</a>
            <a href="/projects">Projects</a>
            <a href="/resume">Resume</a>
          </div>

          <div id="contact">
            <div>
              <h3>Links</h3>
              <div>
                {{ icon("github-alt") | safe }}
                <a href="https://github.com/erik">Github</a>
              </div>
              <div>
                {{ icon("lock") | safe }}
                <a href="https://keybase.io/erikprice">Keybase</a>
              </div>
              <div>
                {{ icon("lastfm") | safe }}
                <a href="http://last.fm/user/erikprice">Last.fm</a>
              </div>
              <div>
                {{ icon("bicycle") | safe }}
                <a href="http://www.strava.com/athletes/2921935">Strava</a>
              </div>

              <div>
                {{ icon("book") | safe }}
                <a href="https://www.goodreads.com/user/show/20177169-erik">Goodreads</a>
              </div>
            </div>

            <div>
              <h3>Contact</h3>
              <div>
                {{ icon("at") | safe }}
                <a href="mailto&#058erik&#064erikprice&#046net">Email</a>
              </div>
              <div>
                {{ icon("linkedin") | safe }}
                <a href="//erikprice.net/linkedin">LinkedIn</a>
              </div>
              <div>
                {{ icon("google-plus") | safe }}
                <a href="https://plus.google.com/102960333562547738575">Google</a>
              </div>
            </div>
          </div>
        </div>

        <div id="content" class="col span_4_of_5">
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Sorry. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55930607-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
