{% extends "layout.html" %}

{% block title %} Projects {% endblock %}

{% block body %}
<p>
  I like writing code. Lots of it. Here's a few of the things I've
  done for fun. The full list of public projects is
  available <a href="https://github.com/erik/repositories">on Github</a>.
</p>

<div id="projects">
  <div>
    {{ project("knuckle", ["rust", "c"], "http://rust-ci.org/erik/knuckle/doc/knuckle/") | safe }}

    <p>
      Crypto libraries suck. Stringly typed, error prone, verbose, and far too low
      level. Ever seen OpenSSL's API?
      <a href="https://gist.github.com/erik/d9ba07c0407c90d19323#file-bleed-c-L54-L91">
        It's not fun.</a>
    </p>

    <p>
      knuckle is my proof of concept solution to this for the Rust language. It
      wraps the NaCl crypto library
      by <a href="http://cr.yp.to/djb.html">D. J. Bernstein</a> and provides
      black box cryptography. You don't need to know the details, you're safe
      just calling some easy to use functions.
    </p>

    <p>
      At least, that's the idea. <em>Don't roll your own crypto</em> is still
      relevant here and I don't trust this library enough to use it in anything
      critical. More of a fun experiment / way to play with Rust.
    </p>
  </div>

  <div>
    {{ project("mixport", ["go"], "http://godoc.org/github.com/erik/mixport") | safe }}
    <p>
      Mixport was written as a utility to help export data out of the Mixpanel
      service, presumably in order to aid a migration off of the Mixpanel
      service, or to do some more custom inspections of the data.
    </p>

    <p>
      It was written to be as out of the way and flexible as possible, and can
      do a variety of fun transformations to the data. Writing GZIP'd data
      instead of uncompressed data is a single changed branch (using Go's
      <code>io.{Reader,Writer}</code> interfaces).
    </p>

    <p>
      Of all the personal projects I've worked on, this is the one I know for a
      fact was actually useful for someone else.
    </p>
  </div>

  <div>
    {{ project("gob", ["go"]) | safe }}
    <p>
      One of my more recent interactions with writing a programming language,
      gob compiles B (the everything-is-an-int grandfather of C) to C.
    </p>

    <p>
      Everything in the compiler is hand rolled, from the lexer through to
      semantic analysis and code generation. This was a fun one to write, and
      one my go-to projects to hack away at on long plane trips.
    </p>

  </div>

  <div>
    {{ project("cudamon", ["c", "js"]) | safe }}
    <p>
      Written after being frustrated at the lack of options for monitoring the
      status of NVIDIA cards while running CUDA applications. I just wanted a
      simple, graphical tool that I could glance at and see if anything was
      obviously wrong.
    </p>

    <p>
      <code>nvidia-smi</code> didn't cut it, and I couldn't find a
      better option, so I wrote my own. Mostly while waiting for ancient Fortran
      simulations to finish running.
    </p>

    <p>
      cudamon consists of a server, written in C, which uses NVIDIA's API to
      query the status of the cards and a Javascript front-end, which uses data
      from the server to render timeseries charts.
    </p>
  </div>

  <div>
    {{ project("valatra", ["vala"]) | safe }}
    <p>
      Valatra is effectively a clone of Sinatra written in Vala. I wanted a fun
      project to learn the language, and it seemed to be lacking a decent
      Sinatra-esque implementation, and so Valatra was born.
    </p>

    <p>
      I never really built anything with it more than just quick examples and
      demos, but it's got all the basic building blocks that Sinatra had at the
      time.
    </p>
  </div>

  <div>
    {{ project("acedia", ["c", "asm"]) | safe }}
    <p>
      Acedia is an operating system I wrote a while back. It's pretty
      simplistic and won't be displacing Linux any time soon but it was crazy
      fun to write.
    </p>
    <p>
      It plays Pong. It displays text. You can type. That's more or less all
      it does.
    </p>

    <p>
      But hey. <em>I wrote an operating system.</em>
    </p>
  </div>

  <div>
    {{ project("lispr", ["ruby"]) | safe }}
    <p> Sure, it's just a boring old implementation of Lisp, but lispr was the
      first time I wrote a parser or interpreter, and started my love affair
      with programming languages.
    </p>

    <p> It's also got some neat aspects, like full Ruby interoperability,
      multithreading, and some special syntax.
    </p>
  </div>

  <div>
    {{ project("bijou", ["c"]) | safe }}
    <p> This project was my first adventure into writing a virtual machine, and
      the most complex one I ended up writing. It had the ability to load
      native C libraries and had a functioning IRC bot written entirely in the
      assembly language.
    </p>

    <p> It's a register machine, heavily inspired by Lua's VM. I spent a ton of
    time reading through Lua's source and Programming in Lua by Roberto
    Ierusalimschy to figure out how everything fit together.
    </p>

    <p> I also ended up writing an assembly language and assembler for the VM
      that is just hilariously bad in retrospect.

      <a href="https://github.com/erik/bijou/blob/master/spec/assembly.md">I
      was young and didn't know any better</a>
    </p>
  </div>

</div>

{% endblock %}
