{% extends "layout.html" %}

{% block title %} Erik Price {% endblock %}

{% block body %}


<div>
  <h2 id="work-experience">Work Experience</h2>
  <ul>
    <li><p><strong>Scopely</strong></p>
      <p>Software Development Intern, August 2013 - August 2014</p>
      <ul>
        <li><p>Built many key components of Scopely's distributed analytics pipeline using Java along with RxJava, Servo, Dagger, and other new libraries.</p></li>
        <li><p>Created data export tools to help business intelligence team effectively analyze data from various separated sources in a single warehouse.</p></li>
        <li><p>Worked with small team of data scientists and engineers to build critical infrastructure for Scopely's internal analytics warehousing requirements.</p></li>
    </ul></li>
    <li><p><strong>University of Wisconsin Space Science and Engineering Center</strong></p>
      Student research programmer, September 2012 - August 2013
      <ul>
        <li><p><strong>Publications:</strong></p>
          <ul>
            <li><p><em>&quot;GPU-accelerated rapid radiative transfer model for global climate models long wave (RRTMG_LW) model&quot;</em>, SPIE Remote Sensing Conference, 2013</p></li>
            <li><p><em>&quot;Excitements, Challenges and Rewards in Compute Unified Device Architecture (CUDA)-based Parallelization of RRTMG_SW, a Shortwave Rapid Radiative Transfer Model&quot;</em>, IEEE JSTARS, 2014</p></li>
        </ul></li>
        <li><p>Implemented optimizations and changes to allow climate models to run with &gt; 100x speedups on commodity GPU hardware using CUDA and GPGPU techniques.</p></li>
        <li><p>Responsible for the conversion, debugging and optimization of large legacy scientific FORTRAN codebases into C.</p></li>
        <li><p>Performed heavy memory and performance optimization through intricate profiling and testing.</p></li>
    </ul></li>
    <li><p><strong>Sugar Labs</strong></p>
      <p>Google Summer of Code student, Summer 2013</p>
      <ul>
        <li><p>Worked with Sugar Labs developers to produce a system utilizing many machine translation services to produce a quick and consistent way for developers to add machine translation to applications.</p></li>
        <li><p>Created proof of concept application running on OLPC XOs to make use of translation utility.</p></li>
    </ul></li>
  </ul>
  <h2 id="education">Education</h2>
  <ul>
    <li><p><strong>University of Wisconsin - Madison</strong></p>
      <p>2012 - 2015</p>
      <ul>
        <li>B.Sc. Computer Science, German minor</li>
    </ul></li>
  </ul>
  <h2 id="other-experience">Other Experience</h2>
  <ul>
    <li><p><strong>One Laptop Per Child - Madison Chapter</strong></p>
      <p>Curriculum coordinator, 2013 - 2014</p>
      <ul>
        <li>Worked with local after-school program to teach elementary school children fundamentals of programming using the OLPC hardware and software such as Scratch and Turtle Graphics.</li>
    </ul></li>
  </ul>
</div>


{% endblock %}
